@{
    ViewBag.Title = "主页";
}

<div>
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0"
                class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active" style="background:url(http://www.runoob.com/wp-content/uploads/2014/07/slide1.png); background-size:cover;">
                <a href="/Article/Detail" target="_blank">
                    <img class="grand-img carousel-inner img-responsive img-rounded " src="http://www.runoob.com/wp-content/uploads/2014/07/slide1.png" alt="First slide">
                    <div class="grand-title"><p>这是一个什么什么的跳转链接</p></div>
                </a>
            </div>
            <div class="item" style="background:url(https://www.baidu.com/img/bd_logo1.png); background-size:cover;">
                <a href="/Article/Detail" target="_blank">
                    <img class="grand-img carousel-inner img-responsive img-rounded " src="https://www.baidu.com/img/bd_logo1.png" alt="First slide">
                    <div class="grand-title">这是一个什么什么的跳转链接</div>
                </a>
            </div>
            <div class="item" style="background:url(https://pic.36krcnd.com/avatar/201702/10162939/9d1on9jyzvwzcrfd.jpg!heading); background-size:cover;">
                <a href="/Article/Detail" target="_blank">
                    <img class="grand-img carousel-inner img-responsive img-rounded " src="https://pic.36krcnd.com/avatar/201702/10162939/9d1on9jyzvwzcrfd.jpg!heading" alt="First slide">
                    <div class="grand-title">这是一个什么什么的跳转链接</div>
                </a>
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

<div class="group-title-bar">
    <div class="active">
        <span class="group-title">
            头条讯息
        </span>
        <span class="pull-right"><a href="/Article/Detail" target="_self">more</a></span>
    </div>
</div>

<div class="row thumbnail-group">
    <div class="col-md-4">
        <a href="/Article/Detail" class="thumbnail" target="_blank">
            <img src="https://pic.36krcnd.com/avatar/201702/11101523/d8dzcpk02ja0zcx3.jpg!heading" style="height:180px;width:100%;display: block">
            <div class="thumbnail-title"><span>这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title</span></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/Article/Detail" class="thumbnail" target="_blank">
            <img src="https://pic.36krcnd.com/avatar/201702/11101523/d8dzcpk02ja0zcx3.jpg!heading" style="height:180px;width:100%;display: block">
            <div class="thumbnail-title"><span>这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title</span></div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="/Article/Detail" class="thumbnail" target="_blank">
            <img src="https://pic.36krcnd.com/avatar/201702/15055111/5iqs1vzvluys2ggw.jpg!heading" style="height:180px;width:100%;display: block">
            <div class="thumbnail-title"><span>这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title这个是一个thumnail的Title</span></div>
        </a>
    </div>
</div>

<div class="group-title-bar">
    <div class="active">
        <span class="group-title">
            滚动热点
        </span>
        <span class="pull-right"><a href="/Article/List" target="_self">more</a></span>
    </div>
</div>

<div class="">
    <div class="index-article-list">
        <ul id="ul-article-list">
            <li>
                <a href="/Article/Detail" target="_blank">
                    <div class="div-no-breakup" style="display:inline;">
                        <div class="img-box div-no-breakup  col-md-3">
                            <a href="/Article/Detail" target="_blank" data-stat-click="67.zhufeed.wenzhangtupian.1">
                                <img class="load-img" alt="【首发】从数据服务入手，“网红城堡”获2000万元天使轮融资" src="https://pic.36krcnd.com/avatar/201702/15055111/5iqs1vzvluys2ggw.jpg!heading">
                            </a>
                        </div>
                        <div class="article-desc div-no-breakup  col-md-8">
                            <div class="info-box ">
                                <a class="artilce-title" href="/Article/Detail" target="_blank" data-stat-click="67.zhufeed.wenzhangbiaoti.1">【首发】从数据服务入手，“网红城堡”获2000万元天使轮融…</a>
                                <div class="abstract">社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？社交电商里的机会有多大？</div>
                                <div class="info div-no-breakup">
                                    <div class="info-list info-list-abtest">
                                        <div class="user-info">
                                            <a class="name" href="/user/170935" target="_blank" data-stat-click="zhufeed.wenzhangzuozhe.1.5063633">二水水</a>
                                            <span class="user-info-point">·</span>
                                        </div>
                                        <div class="time-div">
                                            <span title="2017-02-15 09:39" class="time">27分钟前</span>
                                        </div>
                                    </div>
                                    <div class="tags-list">
                                        <i class="icon-tag"></i>
                                        <span>
                                            <a href="/tag/%E6%96%87%E5%A8%B1" target="_blank">文娱</a>
                                            <span>，</span>
                                        </span>
                                        <span>
                                            <a href="/tag/%E7%BD%91%E7%BA%A2%E7%BB%8F%E6%B5%8E" target="_blank">网红经济</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

            <li>
                <a href="/Article/Detail" target="_blank">
                    <div class="div-no-breakup" style="display:inline;">
                        <div class="img-box div-no-breakup  col-md-3">
                            <a href="/Article/Detail" target="_blank" >
                                <img class="load-img" alt="【首发】从数据服务入手，“网红城堡”获2000万元天使轮融资" src="https://pic.36krcnd.com/avatar/201702/15055111/5iqs1vzvluys2ggw.jpg!heading">
                            </a>
                        </div>
                        <div class="article-desc div-no-breakup  col-md-8">
                            <div class="info-box ">
                                <a class="artilce-title" href="/Article/Detail" target="_blank" data-stat-click="67.zhufeed.wenzhangbiaoti.1">【首发】从数据服务入手，“网红城堡”获2000万元天使轮融…</a>
                                <div class="abstract">社交电商里的机会有多大？</div>
                                <div class="info div-no-breakup">
                                    <div class="info-list info-list-abtest">
                                        <div class="user-info">
                                            <a class="name" href="/user/170935" target="_blank" data-stat-click="zhufeed.wenzhangzuozhe.1.5063633">二水水</a>
                                            <span class="user-info-point">·</span>
                                        </div>
                                        <div class="time-div">
                                            <span title="2017-02-15 09:39" class="time">27分钟前</span>
                                        </div>
                                    </div>
                                    <div class="tags-list">
                                        <i class="icon-tag"></i>
                                        <span>
                                            <a href="/tag/%E6%96%87%E5%A8%B1" target="_blank">文娱</a>
                                            <span>，</span>
                                        </span>
                                        <span>
                                            <a href="/tag/%E7%BD%91%E7%BA%A2%E7%BB%8F%E6%B5%8E" target="_blank">网红经济</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>

        </ul>
    </div>

    <div class="loading-more" data-stat-click="" onclick="add('#ul-article-list', '1111')">
        <!-- react-text: 723 -->浏览更多<!-- /react-text --><!-- react-text: 724 --> <!-- /react-text -->
    </div>
</div>

<script>
    function add(id, txt) {
        try {
            var ul = $(id);
            var li = document.createElement("li");
            var href_a = document.createElement("a");
            href_a.href = "/Article/Detail";
            href_a.target = "_blank";
            li.id = txt;
            li.appendChild(href_a);

            var div = document.createElement("div");
            div.className = "div-no-breakup";
            div.setAttribute("style", "display:inline;")
            li.appendChild(div);
            {
                var div_imgBox = document.createElement("div");
                div_imgBox.className = "img-box div-no-breakup  col-md-3";
                div.appendChild(div_imgBox);

                var div_articelDesc = document.createElement("div");
                div_articelDesc.className = "article-desc div-no-breakup  col-md-8"
                div.appendChild(div_articelDesc);

                var a_img = document.createElement("a");
                a_img.href = "/Article/Detail";
                a_img.target = "_blank";
                div_imgBox.appendChild(a_img);

                var img_artilce = document.createElement("img");
                img_artilce.className = "load-img";
                img_artilce.alt = "【首发】从数据服务入手，“网红城堡”获2000万元天使轮融资";
                img_artilce.src = "https://pic.36krcnd.com/avatar/201702/15055111/5iqs1vzvluys2ggw.jpg!heading";
                a_img.appendChild(img_artilce);
            }
            {
                
                var div_infoBox = document.createElement("div");
                div_infoBox.className = "info-box";
                div_articelDesc.appendChild(div_infoBox);
                                
                var a_artilceTitle = document.createElement("a");
                a_artilceTitle.className = "artilce-title";
                a_artilceTitle.href="/Article/Detail";
                a_artilceTitle.target="_blank" ;
                a_artilceTitle.innerText="【首发】从数据服务入手，“网红城堡”获2000万元天使轮融…";
                div_infoBox.appendChild(a_artilceTitle);

                
                var div_abstract = document.createElement("div");
                div_abstract.className = "abstract";
                div_abstract.innerText="社交电商里的机会有多大？";
                div_infoBox.appendChild(div_abstract);


                var div_info = document.createElement("div");
                div_info.className = "info div-no-breakup";
                div_infoBox.appendChild(div_info);
                {
                    var div_infoList = document.createElement("div");
                    div_infoList.className = "info-list info-list-abtest";
                    div_info.appendChild(div_infoList);


                    var div_userInfo = document.createElement("div");
                    div_userInfo.className = "user-info";
                    div_infoList.appendChild(div_userInfo);

                    var a_userName = document.createElement("a");
                    a_userName.className = "name";
                    a_userName.href = "/user/170935";
                    a_userName.target = "_blank";
                    a_userName.innerText = "木一一";
                    div_userInfo.appendChild(a_userName);

                    var spn_point=document.createElement("span");
                    spn_point.className = "user-info-point";
                    spn_point.innerText = " · ";
                    div_userInfo.appendChild(spn_point);


                    var div_time = document.createElement("div");
                    div_time.className = "time-div";
                    div_infoList.appendChild(div_time);

                    var spn_time = document.createElement("span");
                    spn_time.title = "2017-02-15 09:39";
                    spn_time.innerText = "27分钟前";
                    div_time.appendChild(spn_time);
                }
                {

                    var div_tagsList= document.createElement("div");
                    div_tagsList.className = "tags-list";
                    div_info.appendChild(div_tagsList);

                    var i_iconTag = document.createElement("i");
                    i_iconTag.className = "icon-tag";
                    div_tagsList.appendChild(i_iconTag);

                    //标签
                    for (var i = 0; i < 2; i++)
                    {
                        if (i != 0) {
                            var spn = document.createElement("span");
                            spn.innerText = "，";
                            spn_tag.appendChild(spn);
                        }
                        var spn_tag = document.createElement("span");
                        div_tagsList.appendChild(spn_tag);


                        var a_tag = document.createElement("a");
                        a_tag.href = "/tag/%E6%96%87%E5%A8%B1";
                        a_tag.target = "_blank";
                        a_tag.innerText = "文娱";
                        spn_tag.appendChild(a_tag);
                    }
                }
            }



            ul.append(li);
        }
        catch (ex)
        { alert(ex.message);}
    }  

</script>