@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "详情页";
}
<div class="">
    <div class="article-detail-nav">
        <a class="" href="/">东金早讯</a>><a class="" href="/Article/List">早讯</a>> 最新热点
    </div>
    <div style="border: 1px solid #efefef;"></div>   
    <h2>中煤集团联手民生银行在天津设股权投资基金</h2>
    <div>
        <p class="text-muted">
            <small>发布时间：2015-2-11</small>
            <small>来源：<a class="" href="/">东金早讯</a></small>
            <small>
            作者：
            <a class="name" href="/user/170935" target="_blank" data-stat-click="zhufeed.wenzhangzuozhe.1.5063633">二水水</a>
            </small>
            <small class="pull-right notShowOnMobile">
                点击量:<span class="badge">20</span>
            </small>
        </p>
    </div>
    @*<div style="border: 1px solid #efefef;"></div>*@

    <div class="article-detail-content" id="">
        <p>　　中国证券网讯 从天津港保税区获悉，中国中煤能源集团有限公司日前与天津港保税区签署协议，中煤集团与民生银行将联合成立天津中煤民生股权投资基金并落户在该区，用于煤炭项目整合。</p><p>　　据新华社3月6日报道，天津港保税区是天津滨海新区及天津自贸区的重要组成部分。根据天津自贸区总体方案，该区以航空航天、装备制造、新一代信息技术等高端制造业和研发设计、航空物流等生产性服务业为重点发展目标。</p><p>　　根据协议，中煤集团与民生银行将联合成立天津中煤民生股权投资基金，注册资本１００亿元，其中，中煤投资２０亿元，民生银行投资８０亿元。基金将应用于煤炭企业的整合项目。预计２０１７年第一季度资金到位４０亿元。</p><input id="hid_totalPage" type="hidden" value="1"><input id="hid_docId" type="hidden" value="4042820">

    </div>

    <p>Use this area to provide additional information.</p>

</div>
